<manifest package="com.vecoder.demo.animations"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.vecoder.demo.animations.dialogfragment.DialogFragmentDemoAct"
            android:label="Dialog Animation Demo">
        </activity>

        <activity android:name="com.vecoder.demo.animations.imdig.ScrollViewActivity"/>

        <activity android:name="com.vecoder.demo.animations.webview.SimpleWebActivity"
            android:label="Simple Web View"/>

        <activity android:name=".bluetooth.BluetoothActivity"
            android:label="Bluetooth example"/>

        <activity android:name="com.vecoder.demo.animations.MainChooser"
            android:label="Animations Demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
